@charset "UTF-8";

header{
    background-color: lightgray;
}
body{
    background-color: lightgreen;
}

main{
    background-color: lightblue; 
    max-width: 500px;
}
.container{
    display: grid;
    width: 450px;
}
img{
    max-width: 400px;

}
